{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Free Shipping</h3>
            <span>On order over $100</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Always Fresh</h3>
            <span>Product well package</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Superior Quality</h3>
            <span>Quality Products</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Support</h3>
            <span>24/7 Support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 order-md-last align-items-stretch d-flex">
            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url({% static 'images/category.jpg' %});">
              <div class="text text-center">
                <h2>Vegetables</h2>
                <p>Protect the health of every home</p>
                <p><a href="/shop" class="btn btn-primary">Shop now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/category-1.jpg' %});">
              <div class="text px-3 py-1">
                <h2 class="mb-0"><a href="product/fruits">Fruits</a></h2>
              </div>
            </div>
            <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'images/category-2.jpg' %});">
              <div class="text px-3 py-1">
                <h2 class="mb-0"><a href="product/vegetable">Vegetables</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/category-3.jpg' %});">
          <div class="text px-3 py-1">
            <h2 class="mb-0"><a href="product/juices">Juices</a></h2>
          </div>
        </div>
        <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'images/category-4.jpg' %});">
          <div class="text px-3 py-1">
            <h2 class="mb-0"><a href="product/dry-fruits">Dried</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section" style="padding-top:1em;">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <span class="subheading">Testimony</span>
        <h2 class="mb-4">Our satisfied customer says</h2>
        <p>"Amazing selection of products and easy navigation! I found everything I needed quickly and checkout was a breeze. Plus, my order arrived earlier than expected. Highly recommend this site!"</p>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5"  style='background-image: url("https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg")'>
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">"Love the range of products here! From fresh produce to pantry staples, this site has it all. Plus, their customer service is top-notch. Definitely my go-to for online shopping!"</p>
                <p class="name">Samay Reddy</p>
                
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style='background-image: url("https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg")'>
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">"Impressed with the quick delivery and quality of items received. Everything was well-packaged and fresh. Will definitely be shopping here again!"</p>
                <p class="name">Disha Navin</p>
                
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5"  style='background-image: url("https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg")'>
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">"Navigating through the site was a breeze, and I loved the variety of organic options available. Shopping here made it easy to maintain a healthy lifestyle without compromising on taste!".</p>
                <p class="name">Rahul Sharma</p>
                
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5"  style='background-image: url("https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg")'>
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line"> "As someone who loves cooking, this site has become my culinary haven! I can always find unique ingredients and specialty items that inspire me to try new recipes. The quality is outstanding, and I appreciate the care they put into sourcing their products. Highly recommended for food enthusiasts!"</p>
                <p class="name">Sohail K.</p>
                
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style='background-image: url("https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg")'>
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">"The customer experience on this site is exceptional. Clear product descriptions, competitive prices, and hassle-free returns if needed. Definitely exceeded my expectations!"</p>
                <p class="name">Amrita P.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>


<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
        <span>Get e-mail updates about our latest shops and special offers</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form class="subscribe-form" method=POST>
          <div class="form-group d-flex">
            {% csrf_token %}
            {{ forms.email }}
            <input type="submit" value="Subscribe" class="submit px-3" onclick="message()">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    function message(){
      alert("you have subscribe for email")
    }
  </script>
</section>
{% endblock %}
